
body {
   background-image: url(../images/large.jpg);
   color: white;
   font-family: orbitron;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

body {
     animation-name: body;
     animation-duration: 1s;
}

body::selection {
     background-color: rgba(0, 0, 0, 0.5);
}

.section-1 {
     position: absolute;
     top: 130px;
     left: 100px;
     
}

.section-2 {
     float: right; 
     position: absolute;
     top: 70px;
     left: 820px; 
}

ul {
     display: flex;
     flex-direction: row;
     gap: 10px;
     padding-left: 1px;
}

li {
     list-style: none;
     color: white;
}

[class="social-icon"] {
     width: 30px;
}

.remember-me {
     font-size: 12px;
     margin-bottom: 10px;
     margin-top: 10px;
}
.remember-me-check {
     width: 10px;
}

li:hover {
     transform: rotate(360deg);
     transition: transform 0.3s ease;
}

h2 {
     text-align: center;
}

form {
     display: flex;
     flex-direction: column;
     padding: 20px;
}

[class="cred"] {
     width: 300px;
     height: 23px;
     border-radius: 2px;
     border: none;
     outline: none;
     line-height: 20px;
     padding: 5px;
     padding-left: 40px;
     margin-bottom: 10px;
     margin-top: 2px;
     background-color: rgba(0, 0, 0, 0.5);
     color: white;
     border-radius: 10px;
}

[class="cred"]::selection {
     background-color: rgba(255, 255, 255, 0.767);
}

button {
     font-family: inherit;
     background-color: lightgreen;
     border: none;
     width: 100px;
     padding-top: 10px;
     padding-bottom: 10px;
     color: white;
     font-weight: bold;
     cursor: pointer;
     border-radius: 5px;
     margin-top: 10px;
     transition: background-color 0.3s ease-in;
}

button:hover {
     background-color: rgb(97, 219, 97);
}

.forgot {
     margin-top: 10px;
     margin-bottom: 40px;
     font-size: 12px;
     margin-top: 20px;
}

.arrow-south {
     display: none;
}

.terms {
     text-align: center;
     font-size: 10px;
}

.arrow-right-icon {
     padding: 100px;
}


.material-symbols-email {
     position: fixed;
     top: 186px;
     margin-left: 10px;
}

.material-symbols-password {
     position: fixed;
     background-attachment: fixed;
     top: 252px;
     margin-left: 10px;
}

@keyframes forward-backwards {
     0% {
          transform: translateX(0);
     }
     50% {
          transform: translateX(10px);
     }

}

.arrow-right {
     animation-name: forward-backwards;
     animation-duration: 1s;
     animation-iteration-count: infinite;
     width: 30px;
}

@keyframes body {
     0% {
         
          transform: translateY(-100px);
     }
     100% {
           
          transform: translateY(0px);
     }
} 

.material-symbols-email-icon {
     width: 25px;
}



/*Display On 720px*/
@media screen and (max-width: 720px) {
body {
   background-image: url(../images/large.jpg);
   background-color: black;
   background-size: 1076px, 60px, contain;
   background-position: center;
   margin: 0;
}

h1 {
     margin-top: 10px;
     color: white;
     font-size: 20px;
     margin-left: 60px;
}

.section-1 {
     width: 50%;
     
     
}

.section-1-p-1 {
     width: 324px;
}

.section-1-p-2 {
     width: 230px;
     margin-left: 30px;
}

.arrow-right-icon {
     display: none;
}

.arrow-right-icosouth {
 position: absolute;
     left: 140px;
     top: 190px;    
}

.arrow-south {
     width: 20px;
     display: block;
}


@keyframes forward-backward {
     0% {
          transform: translateY(0);
     }
     50% {
          transform: translateY(10px);
     }
}

.arrow-south {
    animation-name: forward-backward;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

.social-nav {
     margin-top: 20px;
     margin-left: 60px
}

.section-2 {
     width: 40px;
     float: none;
         
     top: 0;
     left: 0; 
     margin-top: 360px;
}

h2 {
     width: 20em;
     text-align: center;
}


form {
     display: flex;
     flex-direction: column;
     
}

label {
     width: 5em;
     margin-left: 3.4em;
     margin-top: 20px;
}

[class="cred"] {
     width: 300px;
     height: 23px;
     border-radius: 2px;
     border: 1px white solid;
     outline: none;
     line-height: 20px;
     padding: 5px;
     padding-left: 40px;
     margin-bottom: 10px;
     margin-top: 2px;
     background-color: rgba(0, 0, 0, 0.5);
     color: white;
     border-radius: 10px;
     margin-left: 50px;
}

[class="cred"]::selection {
     background-color: rgba(255, 255, 255, 0.767);
}


.remember-me {
     width: 200px;
     margin-left: 1em;
}


.remember-me-check {
     width: 10px;
}

button {
     font-family: inherit;
     background-color: lightgreen;
     border: none;
     width: 100px;
     padding-top: 10px;
     padding-bottom: 10px;
     color: white;
     font-weight: bold;
     cursor: pointer;
     border-radius: 5px;
     margin-top: 10px;
     transition: background-color 0.3s ease-in;
     margin-left: 4em;
}

.material-symbols-email {
     position: absolute;
     top: 135px;
     left: 70px;
}

.material-symbols-password {
   position: absolute;
     top: 222px;
     left: 70px;
}



button:hover {
     background-color: rgb(97, 219, 97);
}

.forgot {
    width: 12em;
    margin-left: 4em;
}

.terms {
     width: 20em;
     margin-left: 13em;
}



@keyframes body {
     0% {
         
          transform: translateY(-100px);
     }
     100% {
           
          transform: translateY(0px);
     }
} 

.material-symbols-email-icon {
     width: 25px;
}

}